<%= render "shared/header" %>

<div class=main>
  <div>
  <%= image_tag "image5.jpg", class:"top-pict" %>
  </div>
  <div class="card__wrapper">
    <%= render partial: "idea", collection: @ideas %>
  </div>

<%= render "shared/footer" %>
