<%= render "shared/header" %>

<main class="main">
  <div class="inner">
    <div>
    <%= image_tag "mixus-top.png", class:"top-pict" %>
    </div>
    <div class="card__wrapper">
      <%= render partial: "idea", collection: @ideas %>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
