/*each form  devise,idea,user*/
.form-wrapper {
  margin: 20px 50px 40px;
}
.form-header {
  font-size: 28px;
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 15px;
}
.form-text-wrap {
  margin-bottom: 3px;
}
.form-text {
  font-size: 16px;
}
.input-default {
  width: 250px;
} 
.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}
.input-birth-wrap select {
  height: 28px;
}
.input-birth-wrap p {
  margin: 0 5px;
}
.select-box {
  height: 28px;
}
.text-area-text {
  width: 600px;
  height: 80px;
}
.register-btn-text {
  padding: 3px 5px;
}
.login-btn {
  margin-top: 30px;
}
.login-btn-text {
  padding: 3px 5px;
}

/* ideas-new */
.new-idea-header {
  font-size: 30px;
  margin-bottom: 15px;
} 
.submit-btn-text {
  padding: 3px 5px;
}
.submit-btn {
  margin-top: 30px;
}

 /* ideas-index */ 
div.inner {
  width: 95%;
  margin: 0 auto;
 }
.top-pict {
  justify-content: center;
  width: 100%;
  height: 50vw;
  margin-bottom: 50px;
 }
 /* card */
div.card-wrapper {
  display: flex;
  margin: 0 0 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
div.card {
  width: calc((100% - 60px) /3 );
  margin: 0 20px 40px 0;
  height: 450px;
}
 div.card-img, .card-img-bottom, .card-img-top {
  height: 60%;
  position: relative;
 }
div.card span.user-name {
  position: absolute;
  right: 30px;
  top: 50%;
}
div.card span.user-name .name {
  font-size: 14px;
  text-decoration-line: none;
  color:gray; 
}
.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}
.sold-out>span {
  color: #FFF;
  font-size: 35px;
  font: bold;
}
.card-title-text {
  display: block;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
div.card-text span.card-text-style {
  display: block;
  color: gray;
}
div.card-text span.card-text-category {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1rem;
}

/*users-show*/
.user-header {
  font-size: 28px;
  margin-bottom: 15px;
} 
.table {
  border-collapse: collapse;
  margin-bottom: 35px;
  width: 50%;
}
.table__col1 {
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.table__col2__name {
  margin-left: 1px;
}
.user-card-wrapper {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*ideas-show*/
.item-wrapper {
  width: 70%;
  margin: 40px auto 40px;
}
.idea-image-wrapper {
  
}
.idea-image {
  display: block;
  margin: 0 auto;
}
.idea-user {
  display: block;
  text-align: center;
  color: black;
}
.idea-manage {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.idea-manage-btn{
  display: block;
  color:black;
  text-decoration: none;
  background-color: rgb(226, 226, 226);
  border: 1px #999 solid;
  border-radius: 3px;
  padding: 1px 10px;
  margin: 0 10px;
}
.match-up-btn {
  display: block;
  color:black;
  text-decoration: none;
  background-color:beige;
  border: 1px #999 solid;
  border-radius: 3px;
  padding: 1px 10px;
  margin: 10px 10px 0;
}
.idea-table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 35px;
  width: 80%;
  margin-top: 20px;
}
.idea-table__col1 {
  text-align: center;
  font-size: 13px;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.idea-table__col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 10px 8px;
}
.creation-form-wrapper {
  margin: 60px 50px 40px;
  background-color: beige;
  padding: 30px 50px;
}
.creation-form-header {
  font-size: 26px;
  margin-bottom: 15px;
} 
/* orders-index */
.title-text {
  text-align: center;
  font-size: 28px;
  margin: 20px;
}
.order-idea-table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 35px;
  width: 70%;
  margin-top: 20px;
}
.order-idea-table__col1 {
  text-align: center;
  font-size: 13px;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.order-idea-table__col2 {
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 10px 8px;
}
.order-form-wrapper {
  margin: 20px;
}
.order-form {
  margin: 0 auto;
  width: 70%;
}
.supplementary-text {
  font-size: 15px;
  color: #999;
}
.match-up-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.match-up {
  display: block;
  color:black;
  font-size: 20px;
  text-decoration: none;
  background-color: beige;
  border: 1px #999 solid;
  border-radius: 3px;
  padding: 1px 10px;
  margin: 10px 10px 0;
}

/* footer */
.fst-italic {
   text-align: center;
   color: white;
   font-size: small;
   margin: 0 auto;
 }