
 /* body */ 
div.inner {
  width: 95%;
  margin: 0 auto;
 }

.top-pict {
  justify-content: center;
  width: 100%;
  height: 50vw;
 }

 /* body-card */
div.card-wrapper {
  display: flex;
  margin: 50px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.card {
  width: calc((100% - 40px) /3 );
  margin-bottom: 40px;
}

 div.card-img, .card-img-bottom, .card-img-top {
  height: 60%;
  position: relative;
 }

div.card span.user-name {
  position: absolute;
  right: 30px;
  top: 50%;
}

div.card span.user-name .name {
  font-size: 14px;
  text-decoration-line: none;
  color:gray; 
}

.card-title-text {
  display: block;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

div.card-text span.card-text-style {
  display: block;
  color: gray;
}

div.card-text span.card-text-category {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 1rem;
}

/* .btn {
  margin-top: 1rem;
} */

/* footer */
.fst-italic {
   text-align: center;
   color: white;
   font-size: small;
   margin: 0 auto;
 }